<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>HelloCordova</name>
  <description>
    A sample Apache Cordova application that responds to the deviceready event.
  </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
    Apache Cordova Team
  </author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <engine name="android" spec="~6.2.3"/>
  <engine name="ios" spec="~4.4.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="^4.0.3"/>
  <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/screen-hdpi-landscape.png" density="land-hdpi"/>
    <splash src="res/screen/android/screen-ldpi-landscape.png" density="land-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-landscape.png" density="land-mdpi"/>
    <splash src="res/screen/android/screen-xhdpi-landscape.png" density="land-xhdpi"/>
    <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
  </platform>

  <platform name="ios">
    <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480"/><!-- All non-retina iPhones and iPods -->
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960"/><!-- iPhone 4/4s/5/5s (portrait) -->
    <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/><!-- -->
    <splash src="res/screen/ios/screen-iphone-portrait-6-2x.png" width="750" height="1334"/><!-- IPhone 6 / 7 / 8 -->
    <splash src="res/screen/ios/screen-iphone-portrait-6p-3x.png" width="1242" height="2208"/><!-- IPhone 6p / 7p / 8p -->
    <splash src="res/screen/ios/screen-iphone-portrait-x-3x.png" width="1125" height="2436"/><!-- IPhone X -->

    <splash src="res/screen/ios/screen-iphone-landscape.png" width="480" height="320"/><!-- All non-retina iPhones and iPods (landscape)-->
    <splash src="res/screen/ios/screen-iphone-landscape-2x.png" width="960" height="640"/><!-- iPhone 4/4s/5/5s (landscape) -->
    <splash src="res/screen/ios/screen-iphone-landscape-6-2x.png" width="1334" height="750"/><!-- IPhone 6 / 7 / 8 -->
    <splash src="res/screen/ios/screen-iphone-landscape-6p-3x.png" width="2208" height="1242"/><!-- IPhone 6p / 7p / 8p -->
    <splash src="res/screen/ios/screen-iphone-landscape-x-3x.png" width="2436" height="1125"/><!-- IPhone X-->

    <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024"/><!-- All non-retina iPads (portrait) -->
    <splash src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/><!-- All retina iPads (portrait) -->
    <splash src="res/screen/ios/screen-ipad-pro-10-portrait.png" width="1668" height="2224"/><!-- All retina iPads (portrait) -->
    <splash src="res/screen/ios/screen-ipad-pro-12-portrait.png" width="2048" height="2732"/><!-- All retina iPads (portrait) -->

    <splash src="res/screen/ios/screen-ipad-landscape.png" width="1024" height="768"/><!-- All non-retina iPads (landscape) -->
    <splash src="res/screen/ios/screen-ipad-landscape-2x.png" width="2048" height="1536"/><!-- All retina iPads (landscape) -->
    <splash src="res/screen/ios/screen-ipad-pro-10-landscape.png" width="2224" height="1668"/><!-- All retina iPads (portrait) -->
    <splash src="res/screen/ios/screen-ipad-pro-12-landscape.png" width="2732" height="2048"/><!-- All retina iPads (portrait) -->

  </platform>
  <preference name="SplashScreenDelay" value="3000"/>
</widget>

